{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="mb-3">Positions</h3>
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row align-items-stretch">
            <div class="col-md-8 d-flex">
              <form method="get" class="d-flex w-100">
                <div class="position-relative w-100">
                  {{ search_form.name|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary ms-2 py-0">
                  Search
                </button>
              </form>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-stretch">
              <a href="{% url 'tasks:position-create' %}"
                 class="btn btn-sm btn-primary text-center py-2"
                 style="line-height: 1.9; display: inline-block;">
                <i class="fas fa-plus me-2"></i>
                Create Position
              </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 w-100">
                  Position
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Update
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Delete
                </th>
              </tr>
              </thead>
              <tbody>
              {% for position in position_list %}
                <tr>
                  <td>
                    <div class="d-flex px-3 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          {{ position.name }}
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <div class="d-flex flex-column justify-content-center">
                      <a href="{% url 'tasks:position-update' pk=position.id %}"
                         class="btn btn-sm btn-outline-primary d-block mx-auto">
                        <i class="fas fa-edit me-2"></i>
                        Update
                      </a>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <div class="d-flex flex-column justify-content-center">
                      <a href="{% url 'tasks:position-delete' pk=position.id %}"
                         class="btn btn-sm btn-outline-primary d-block mx-auto">
                        <i class="fas fa-trash me-2"></i>
                        Delete
                      </a>
                    </div>
                  </td>
                  {% empty %}
                <tr>
                  <td colspan="5" class="text-center py-4">
                    <p class="text-sm mb-0">No positions found</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}