{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load priority_badge %}
{% load get_initials %}

{% block content %}
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="mb-3">Tasks</h3>
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row align-items-stretch">
            <div class="col-md-8 d-flex">
              <form method="get" class="d-flex w-100">
                <div class="position-relative w-100">
                  {{ search_form.name|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary ms-2">
                  Search
                </button>
              </form>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-stretch">
              <a href="{% url 'tasks:task-create' %}"
                 class="btn btn-sm btn-primary header-btn d-flex align-items-center">
                <i class="fas fa-plus me-2"></i>
                Create Task
              </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Task
                </th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                  Assigned To
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Priority
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Deadline
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  Status
                </th>
              </tr>
              </thead>
              <tbody>
              {% for task in task_list %}
                <tr>
                  <td>
                    <div class="d-flex px-3 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          <a href="{% url 'tasks:task-detail' pk=task.id %}"
                             class="task-link">
                            {{ task.name }}
                          </a>
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          {{ task.task_type }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2">
                      {% for assignee in task.assignees.all %}
                        <div class="avatar-group">
                          <div
                              class="avatar avatar-xs rounded-circle bg-primary"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="{{ assignee.first_name }} {{ assignee.last_name }}">
                            <span class="text-white">
                              {{ assignee|get_initials }}
                            </span>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span
                        class="badge badge-sm bg-gradient-{{ task.priority|priority_badge }}">
                      {{ task.priority }}
                    </span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">
                      {{ task.deadline|date:"M d, Y" }}
                    </span>
                    <span class="text-secondary text-xxs opacity-7 d-block mt-0">
                      {{ task.deadline|date:"g:i A" }}
                    </span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge bg-gradient-{{ task.is_completed|yesno:'success,warning' }} badge-sm">
                      {{ task.is_completed|yesno:'Completed,Pending' }}
                    </span>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="5" class="text-center py-4">
                    <p class="text-sm mb-0">No pending tasks found</p>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}