{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row mt-4">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="mb-0">
                {{ form.instance.pk|yesno:"Edit,New"}} Worker
              </h5>
            </div>
            <div class="col text-end">
              <a href="{% url 'tasks:worker-list' %}"
                 class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-arrow-left me-2"></i>
                Back to Workers
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post" id="worker-form" novalidate>
            {% csrf_token %}
            <div class="card shadow-none border mb-4">
              <div class="card-header border-bottom pb-3">
                <h6 class="mb-0">Personal Information</h6>
              </div>
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label
                        class="form-label text-xs text-uppercase font-weight-bolder">
                      First Name
                    </label>
                    {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="col-md-6">
                    <label
                        class="form-label text-xs text-uppercase font-weight-bolder">
                      Last Name
                    </label>
                    {{ form.last_name|as_crispy_field }}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label
                        class="form-label text-xs text-uppercase font-weight-bolder">
                      Username
                    </label>
                    {{ form.username|as_crispy_field }}
                  </div>
                  <div class="col-md-6">
                    <label
                        class="form-label text-xs text-uppercase font-weight-bolder">
                      Position
                    </label>
                    {{ form.position|as_crispy_field }}
                  </div>
                </div>
                <div class="mb-3">
                  <label
                      class="form-label text-xs text-uppercase font-weight-bolder">
                    Email
                  </label>
                  {{ form.email|as_crispy_field }}
                </div>
                <div class="mb-3">
                  <label
                      class="form-label text-xs text-uppercase font-weight-bolder">
                    Password
                  </label>
                  {{ form.password1|as_crispy_field }}
                </div>
                <div class="mb-3">
                  <label
                      class="form-label text-xs text-uppercase font-weight-bolder">
                    Confirm Password
                  </label>
                  {{ form.password2|as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start">
              <a href="{% url 'tasks:worker-list' %}"
                 class="btn btn-outline-secondary me-2">
                <i class="fas fa-times me-2"></i>Cancel
              </a>
              <button type="submit" class="btn bg-gradient-primary">
                <i class="fas fa-save me-2"></i>
                {{ form.instance.pk|yesno:"Update,Create"}} Worker
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}